pyrogram
tgcrypto
py-tgcalls==0.7.0rc11
python-dotenv
youtube_dl
youtube_search_python
requests
aiohttp
aiofiles
asyncio
youtube_search
search_engine_parser
ffmpeg
pillow
python-arq
future
psutil
wget
